body {
  background-color: rgb(253, 250, 244);
}
.my-container {
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  max-width: 350px;
  min-height: 580px;
  background: linear-gradient(
    112.4deg,
    rgb(176, 174, 225) 44.9%,
    rgb(135, 197, 235) 94.5%
  );
  border-radius: 20px;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.my-col {
  /* border: 1px solid black; */
  text-align: center;
  padding: 0;
}

.weather-app-icon .image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.temperature {
  font-size: 35px;
  position: relative;
  margin-left: 16px;
}

.city-name {
  font-size: 30px;
}

.forecast {
  font-size: 12px;
  margin: 0 auto;
}

.temp-info {
  margin-bottom: -25px;
}

.general-info {
  text-align: center;
  position: relative;
  margin-left: 16px;
}

.day,
.current-time {
  font-size: 12px;
  font-weight: bold;
}

#weather-icon {
  width: 130px;
  position: relative;
  margin-left: 16px;
}

.wind,
.humidity {
  text-align: center;
  font-size: 11px;
  color: gainsboro;
  position: relative;
  margin-right: 10px;
}

input {
  font-size: 12px;
  background-color: #ebeff5;
}

#search-engine {
  border-radius: 17px;
  border: 1px solid #ebeff5;
  padding: 5px;
  width: 160px;
}

.message,
.search-engine {
  width: 140px;
}

#btn {
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid #ebeff5;
  padding: 3px 15px;
  transition: all 2ms ease-in;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#btn:hover {
  background-color: ghostwhite;
}

.description {
  text-align: center;
  margin-top: -15px;
  position: relative;
  margin-left: 16px;
}

hr {
  background-color: #fff;
}

.weather-forecast-temperature {
  font-size: 10px;
  text-align: center;
}

.forecast-day {
  opacity: 0.7;
}

.forecast-temp-min {
  opacity: 0.5;
}

.forecast-temp-max,
.forecast-temp-min {
  font-size: 9px;
}

#submit {
  display: none;
}

#celcius,
#fahrenheit {
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
}

#celcius:hover {
  text-decoration: underline;
  font-weight: bold;
}

#fahrenheit:hover {
  text-decoration: underline;
  font-weight: bold;
}

.units {
  font-size: 12px;
  position: relative;
  top: -8px;
}

.git-rep {
  display: block;
  margin: 30px auto;
  font-size: 8px;
  color: rgb(255, 255, 255);
  text-align: center;
}
a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: underline;
}
